$color_black: #000000;
$color_white: #FFFFFF;
$color-light_pink: #F16D7F;
$color-pink: #F26376;
$color-snow_white:  #FBFBFB;
$color-light_gray: #B1B1B1;
$color-grey: #656565;
$color-grey2: #5E5E5E;
$color-dark_grey1: #4D4D4D;
$color-dark_dark_grey: #222222;